.txt,
body {
	font-family: Roboto, sans-serif
}

.tc,
.txt {
	text-align: center
}

.btn-mainf,
.tt_up {
	text-transform: uppercase
}


body {
	font-size: 14px;
	background-color: #fff;
	color: #2c3341;
	min-width: 1000px;
	overflow-x: hidden
}

.w970 {
	width: 970px;
	margin: 0 auto
}

.clr {
	clear: both
}

.td_ul {
	text-decoration: underline
}

.f_left {
	float: left!important
}

.b3r {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.b5r {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.blue {
	color: #23d5d4
}

.bg-blue {
	background-color: #23d5d4!important
}

.white {
	color: #fff
}

.black {
	color: #2c3341
}

.bg-black {
	background-color: #2c3341!important
}

.txt {
	font-size: 18px;
	line-height: 20px;
	color: #333
}

.ta_l {
	text-align: left
}

.ta_c {
	text-align: center
}

.ta_j {
	text-align: justify
}

.container-fluid {
	padding: 0
}
.no {
	display: none !important;
}

/**** Fonts ******/
body {
	font-family: 'Roboto', sans-serif;
	font-size : 14px;
	background-color : #fff;
	color: #2c3341;
	min-width: 1000px;
	overflow-x : hidden;
}
.w970 {
	width: 970px;
	margin: 0 auto;
}
.tc {
	text-align: center;
}
.clr {
	clear: both;
}
.td_ul {
	text-decoration: underline;
}
.tt_up {
	text-transform: uppercase;
}

.f_left{
		float : left !important;
}

.b3r {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	 border-radius: 3px;
}

.b5r {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.blue {
	color: #23d5d4;
}
.bg-blue {
	background-color: #23d5d4 !important;
}
.white {
	color: #fff;
}
.black {
	color: #2c3341;
}
.bg-black {
	background-color: #2c3341 !important;
}
.txt {
	font-family: 'Roboto', sans-serif;
	font-size : 18px;
	line-height: 20px;
	text-align: center;
	color: #333;
}
.ta_l {
	text-align: left;
}
.ta_c {
	text-align: center;
}
.ta_j {
	text-align: justify;
}



/*** **/





/* main */

.container-fluid {
	padding: 0;
}

/* Section-3 */
.section-3 {
	width: 100%;
	height: auto;
	min-height: 700px;
	padding-bottom: 30px;
	background: url("../images/s3-bg.png")no-repeat center center #fff;
	background-attachment: fixed;
}

.section-3 .title {
	margin-top: 30px;
}
.section-3 hr {
	width: 200px;
}
.goods-bl {
	width: 970px;
	height: 325px;
	border: 0px solid  #23d5d4;

}
.jal-bl {
	width: 293px;
	height: 335px;
	padding: 0;
	float: left;
	margin-right: 30px;
	margin-bottom: 0px;
	border: 0px solid #23d5d4;

}

.jal-bl {
	/* background: url("../images/jal-bl.png")no-repeat center center; */
}

.jal-bl img {
	position: absolute;
}

.jal-bl:hover .s3{
	display: block;
	opacity: 1;
	transition: 2s;
	cursor: pointer;
	position: absolute;
	z-index: 7777;
}

.jal-bl .title {
	text-align: center;
	color: #2c3341;
	font-size: 20px;
	font-weight: 500;
	margin: 262px 0 20px 0;
	border: 0px solid #2c3341;
}

.jal-bl .title:hover {
	/* text-decoration: underline; */
	color: #23d5d4;
}
.jal-in-bl {
	opacity: 0;
	width : 264px;
	height: 232px;
	background: rgba(255,255,255, 0.8);
	position: absolute;
	z-index: 9999;
	margin: -295px 0 0 14px;
	padding: 35px 0 0 0;
}
.jal-in-bl2 {
	margin: -327px 0 0 14px;
}

.jal-in-bl ul li {
	color: #2c3341;
	font-size: 16px;
}

.s3-btn {
	width: 190px;
	height: 45px;
	background-color: #23d5d4;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0 !important;
	margin: 100px 0 0 50px;
	position: absolute;
	z-index: 8888;
	display: none;
}
.s3-btn:hover {
	color: #fff;
	text-decoration: underline;
}
.jal-bl .img-bl:hover .s3-btn, .jal-bl .title:hover .s3-btn{
	display: block;
}
.btn-goods {
	/* margin: 30px auto 0 !important; */
	border-radius: 0 !important;
	width: 425px;
	height: 60px;
	background-color: #2c3341;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.btn-goods:hover {
	cursor : pointer;
	text-decoration: underline;
}
/*Section-3 end */

/* Categories */
.cat-bl {
	width: 293px;
	height: 335px;
	padding: 0;
	float: left;
	margin-right: 30px;
	margin-bottom: 0px;
	border: 0px solid #23d5d4;

}
.cat-bl img {
	position: absolute;
	z-index: 8888;
}
.cat-bl .title {
	text-align: center;
	color: #2c3341;
	font-size: 20px;
	font-weight: 500;
	margin: 262px 0 20px 0;
	border: 0px solid #2c3341;
}
.cat-bl .title:hover {
	/* text-decoration: underline; */
	color: #23d5d4;
}

.cat-bl .cat-in-bl {
	display: none;
	margin: -258px 0 0 14px;
	padding: 25px 0 0 0;
	background: rgba(255,255,255, 0.8);
	position: absolute;
	z-index: 8888;
	width : 264px;
	height: 175px;
}
.cat-bl .cat-in-bl ul li {
	color: #2c3341;
	font-size: 16px;
}
.cat-bl:hover .cat-in-bl {
	display: block;
}
.cat-bl:hover .cat-btn {
	display: block;
}

.cat-btn {
	width: 190px;
	height: 45px;
	background-color: #23d5d4;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-radius: 0 !important;
	margin: 0px 0 0 40px;
	position: absolute;
	z-index: 8888;
	display: none;
}
.cat-btn:hover {
	color: #fff;
	text-decoration: underline;
}
.price-from, .price-from2 {
	background-color: #1F2531;;
	padding: 5px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	margin: -75px 0 0 135px;
	z-index: 8899;
	text-align: center;
	width: 150px;
}
.price-from2 {
	margin: -310px 0 0 150px;
}
/* Categories end  */

/*Section-4 */
.section-4 {
	width: 100%;
	height: auto;
	min-height: 600px;
	padding-bottom: 30px;
	background: url("../images/s4-bg.jpg")no-repeat center #0e97a5;
	background-attachment: fixed;
	background-size: cover;
}
.section-4 .img-bl {
	width: 960px;
	height: auto;
	min-height: 400px;
	padding-bottom: 30px;
	padding: 0;
}
.section-4 .img-bl ul li  {
	text-align: center;
	float: left;
	font-size: 21px;
	line-height: 26px;
	font-weight: 500;
	list-style-type: none;
	background: url("../images/s4-img.png")no-repeat center;
	width: 159px;
	height: 129px;
	margin: 50px 70px 0 0;
	padding-top: 24px;
	padding-left: 7px;
}
.section-4 .img-bl ul li:hover{
	transition: 2s;
	background-position: 0 -15px;
}
.section-4 .img-bl ul li span {
	font-size: 26px;
	font-weight: 600;
}
.section-4 .img-bl .glyphicon {
	font-size: 21px !important;
	font-weight: 400 !important;
}
.section-4 .img-bl ul li:nth-child(2){
	padding-top: 14px;
}
.section-4 .img-bl ul li:nth-child(4){
	padding-top: 14px;
}
.section-4 .img-bl ul li:nth-child(5){
	margin-left: 120px;
	padding-top: 27px;
}
.section-4 .img-bl ul li:nth-child(6){
	padding-top: 14px;
}
.section-4 .img-bl ul li:nth-child(7){
	font-size: 21px;
	padding-top: 27px;
}
.btn-why {
	margin: 0px auto 0;
	border-radius: 0 !important;
	padding-top: 12px;
	width: 355px;
	height: 60px;
	background-color: transparent;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.btn-why:hover {
	cursor : pointer;
	text-decoration: underline;
	color: #fff;
}
/*Section-4 end */

/*Section-5 */
.section-5 {
	width: 100%;
	height: auto;
	min-height: 480px;
	background-color: #fff;
}
.section-5 a, .section-5 a:hover {
	color: #2c3341 !important;
}
.section-5 .img-bl {
	background: url("../images/s5-img.jpg")no-repeat center;
	width: 390px;
	height: 357px;
	margin: 50px 0 0 0;
	float: left;
}
.section-5 h3 {
	float: left;
	margin: 46px 0 0 30px;
}
.section-5 hr {
	float: left;
	position: absolute;
	width: 256px;
	margin: 80px 0 0 419px;
	background-color: #2c3341;
	height: 1px;
}
.section-5 p {
	float: left;
	width: 440px;
	border: 0 solid #ccc;
	margin: 20px 0 0 30px;
	font-size: 14px;
}
.btn-moskit {
	float: left;
	margin: 10px 0 0 30px;
	border-radius: 0 !important;
	border: none;
	width: 390px;
	height: 45px;
	background-color: #23d5d4;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.btn-moskit:hover {
	cursor : pointer;
	text-decoration: underline;
}
/*Section-5 end */

/*Section-6 */
.section-6 {
	width: 100%;
	height: auto;
	min-height: 470px;
	background: url("../images/s6-bg.jpg")no-repeat center;
	background-size: cover;
}
.section-6 .img-bl {
	background: url("../images/s6-img1.png")no-repeat center;
	background-position: 0 0;
	width: 657px;
	height: 173px;
	margin: 30px auto 0;

}
.section-6:hover .img-bl {
	transition: 5s;
	background: url("../images/s6-img1.png")no-repeat center;
	background-position: -2px -173px ;
	width: 657px;
	height: 173px;
	margin: 30px auto 0;
}
.btn-how {
	margin: 30px auto 0;
	border-radius: 0 !important;
	border: none;
	width: 390px;
	height: 45px;
	background-color: #2c3341;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.btn-how:hover {
	cursor : pointer;
	text-decoration: underline;

}
/*Section-6 end */

/*Section-7 Gallery */
.section-7 {
	width: 100%;
	height: auto;
	min-height: 770px;
	padding-bottom: 20px;
	background-color: #fff;
}
.section-7.img-bl {
	background: url("../images/s6-img1.png")no-repeat center;
	background-position: 0 0;
	width: 657px;
	height: 173px;
	margin: 30px auto 0;

}

.btn-gallery {
	text-align: center;
	padding-top: 10px;
	width: 420px;
	margin: 30px auto 0;
	border-radius: 0 !important;
	border: none;
	height: 45px;
	background-color: #2c3341;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.btn-gallery:hover {
	cursor : pointer;
	text-decoration: underline;
	color: #fff;
}
.btn-gallery2 {
	padding-top: 5px;
}
/*Section-7 Gallery end */

/*Section-8 */
.section-8 {
	width: 100%;
	height: auto;
	min-height: 560px;
	padding-bottom: 20px;
	background-color: #2c3341;
}
.section-8 .otz-bl {
	border: 0px solid #fff;
	width: 960px;
	height:180px;
}
.section-8 .otz-bl .img-bl {
	float: left !important;
	width: 80px !important;
	height: 80px !important;
}
.section-8 .otz-bl .title {
	margin: 25px 0 0 110px;
	font-size: 18px;
	color: #baffff;
}
.section-8 .otz-bl .otz-img:before {
	position: absolute;
	content: '';
	width: 80px;
	height: 80px;
	margin: -20px 0 0 -110px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #fff;
	-webkit-filter: grayscale(100%);
}
.section-8 .otz-bl .otz-01:before {
	background: url("../images/otz/otz-01.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .otz-02:before {
	background: url("../images/otz/otz-02.png")no-repeat center;
	border: none !important;
	-webkit-filter: grayscale(95%);
}
.section-8 .otz-bl .otz-03:before {
	background: url("../images/otz/otz-03.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .otz-04:before {
	 background: url("../images/otz/otz-04.png")no-repeat center;
	 border: none !important;
 }
.section-8 .otz-bl .otz-05:before {
	background: url("../images/otz/otz-05.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .otz-06:before {
	background: url("../images/otz/otz-06.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .otz-07:before {
	background: url("../images/otz/otz-07.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .otz-08:before {
	background: url("../images/otz/otz-08.png")no-repeat center;
	border: none !important;
}
.section-8 .otz-bl .title span {
	font-weight: 300;
	color: #838c9f;
	font-size: 14px;
}
.section-8 .otz-bl .txt {
	color: #fff;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	text-align: justify;
	width: 420px;
	min-height: 80px;
	height: auto;
	margin: 25px 0 0 0;
	float: left;
	padding-bottom: 0px;
}
.section-8 .pull-left, .section-8 .pull-right {
	width : 450px;
	min-height: 190px;
	height: auto;
	padding-bottom: 10px;
	border: 0px solid #fff;
}
.section-8 .pull-left {
	margin-left: 30px;
}

.section-8 .carousel-control.right {
	background-image: none !important;
	right: -120px;
	z-index: 9999;
	margin-top: -170px;
}
.section-8 .carousel-control.left {
	background-image: none !important;
	left: -130px;
	z-index: 9999;
	margin-top: -170px;
}
.section-8 .carousel-indicators {
	position: relative;
	margin-top: 30px;
}
.btn-otz {
	width: 280px;
	background-color: transparent !important;
	border: 2px solid #fff;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0 !important;
	padding: 10px 20px;
}
.btn-otz:hover {
	text-decoration: underline;
	color: #fff;
}
/*Section-8 end*/


/* Map */
.map {
	width: 100%;
	min-height: 480px;
	height: auto;
}

/* Map end */

/* Main Form */
.main-form {
	position: relative;
	z-index: 8888;
	width: 390px;
	height: 290px;
	background-color: #2c3341;
	margin-top: 30px;
}
.main-form h4 {
	padding-top: 30px;
}
.main-form hr {
	width: 150px;
	margin-bottom: 25px;
}
.main-form label {
	color: #fff;
	text-align:left;
	float: left;
	margin: 5px 30px 0 32px;
	font-weight: 400;
}
.main-form input {
	text-align: right;
	width: 240px;
	height: 30px;
	border-radius: 0 !important;
	font-size: 16px;
	color: #2c3341;
}
.fl2 {
	margin-top: 23px !important;
}
#height-inp {
	margin: 20px 0 0 118px !important;
}
.btn-mainf {
	float: right;
	margin: 30px 32px 0 0;
	border-radius: 0 !important;
	width: 240px;
	height: 45px;
	background-color: #23d5d4;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.btn-mainf:hover {
	cursor : pointer;
	opacity:0.8 !important;
	-moz-opacity:0.8 !important;
	filter: alpha(opacity=80) black !important;
	-khtml-opacity: 0.8 !important;
}
/* Main Form end*/


/* Footer */
.footer {
	width: 100%;
	min-height: 560px;
	height: auto;
	background-color: #2c3341;
	position: relative;
	z-index: 8888;
}
.footer .main-form {
	position: absolute;
	z-index: 7777;
	background-color: #23d5d4;
	margin-top: -215px;
}
.footer .btn-mainf {
	background-color: #2c3341;
}
.footer label {
	color: #2c3341;
}
.footer input {
	color: #2c3341;
}
.map {
	position: relative;
	z-index: 7777;
}
.map-title {
	width: 456px;
	font-size: 16px;
	font-weight: 500;
	color: #3d4555;
	position: absolute;
	margin: -215px 0 0 440px;
	z-index: 8888;
	background: rgba(255,255,255, 0.6);
	padding: 25px 15px 15px 35px;
}
.map-title label {
	color: #3d4555 !important;
}
.addr-bl {
	float: left;
	width: 390px;
	min-height: 280px;
	height: auto;
	margin-top: 80px;
	border: 0px dashed #3d4555;
	padding: 0px 10px;
}

.addr-bl .title {
	line-height: 36px;
}
.addr-bl p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;

}
.addr-bl p span {
	font-size: 14px;
	line-height: 20px;
}
.bottom-phone {
	margin-top: 40px;
}
.bottom-menu {
	width: 550px;
	height: 280px;
	float: left;
	border: 0px dashed #3d4555;;
	padding: 0 10px 0 10px;
	margin: 70px 0 0 20px;
}
.bottom-menu ul {
	margin-top: 15px;
	margin-left: 20px;
	padding: 0;
	float: left;
}
.bm_jal {
	margin-left: 0 !important;
}
.bottom-menu ul li {
	width: 100px;
	list-style-type: none;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	text-decoration: underline;
}
.bottom-menu ul li:hover {
	text-decoration: none;
	color: #23d5d4;
}
.bottom-menu .title {
	list-style-type: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}
.bottom-menu .title2 {
	width: 200px;
	border: 0px solid #fff;
	position: absolute;
}
.bottom-menu .t2{
	margin-top: 34px !important;
}
.bottom-menu .title:hover {
	color: #fff;
}
.footer .glyphicon {
	color: #3d4555;
}
.soc_bl {
	position: absolute;
	margin: -106px 0 0 205px;
}
.vk {
	-webkit-filter: grayscale(100%);
}
.fb {
	-webkit-filter: grayscale(100%);
	margin-left: 5px;
}
.vk:hover, .fb:hover {
	cursor : pointer;
	opacity:0.8 !important;
	-moz-opacity:0.8 !important;
	filter: alpha(opacity=80) black !important;
	-khtml-opacity: 0.8 !important;

}
.contact {
	color: #fff;
	border-bottom: 1px dashed #fff;
	margin-top: 25px !important;
}
.contact:hover {
	color: #fff;
	border-bottom: none;
	text-decoration: none;

}
.footer h5 {
	width: 100%;
	background-color: #1f2531;
	color: #3d4555;
	padding: 20px 0;
	font-size: 14px;
	font-weight: 300;
	margin: 20px 0 0 0;
}

.footer .ccopy {
	margin-top: 150px;
}


.foo-outsys {
	border: 1px dashed #fff;
	width: 340px;
	height: 145px;
	padding-top: 0px !important;
	padding-left: 0px !important;
	margin: 0 0 0 20px;
}
.foo-outsys .title {
	width: 300px;
	text-align: left;
}
.foo-outsys li{
	width: 110px !important;
}
.outs-in {
	border: 0px solid #fff;
	position: absolute;
	width: 180px;
	float: left;
	margin: -84px 0 0 121px !important;
}
.partn {
	float: left !important;
	position: absolute;
	margin-top: -7px;
}
.partn a:hover {
	text-decoration: underline;
	color: #fff;
}
/* Footer end */


/* Blank section */
.blank-section {
	width: 100%;
	height: 132px;
	background-color: #fff;

}
/* Blank section end*/

/* Contacts Page */
#contacts {
	width: 100%;
	height: auto;
	min-height: 800px;
	background-color: #fff;
	padding-bottom: 20px;
}
#contacts hr {
	width: 354px;
}
#contacts .c-addr-bl .col-md-12{
	margin-top: 10px;
}
.c-addr-bl .glyphicon {
	top: 2px !important;
	left: -5px !important;
}
#contacts .btn {
	width: 306px;
	height: 53px;
	font-size: 27px;
	font-weight: 600;
	background-color: #fff;
	border: 2px solid #23d5d4;
	text-transform: uppercase;
	color: #23d5d4;
	border-radius: 0 !important;
}
#contacts .btn:hover {
	text-decoration: underline;
}
.mail-to {
	padding-top: 11px;
}
/* Contact Page end*/



/* histrory */
#history {
	width: 100%;
	height: auto;
	min-height: 460px;
	padding-bottom: 20px;
	background-color: #fff;
}
#history img {
	padding-bottom: 20px;
}
#history .btn {

	font-size: 16px;
	font-weight: 600;
	background-color: #fff;
	border: 2px solid #23d5d4;
	text-transform: uppercase;
	color: #23d5d4;
	border-radius: 0 !important;
}
#history .btn:hover {
	text-decoration: underline;
}
/* histrory end*/

/* our */
.our {
	background: url("../images/our-bg.jpg")no-repeat center #384550;
}

/* our-work */
.our-work {
	width: 100%;
	min-height: 500px;
	height: auto;
	background-color: #fff;
	padding-bottom: 60px;
}
.our-work .item {
	width: 960px;
	border: 0px solid #000;
}
.our-work img {
	width: 940px;
	margin-left: 15px;
}
.our-work .thumbnail {
	border: none !important;
}
.our-work .carousel-control.left {
	background-image: none !important;
}
.our-work .carousel-control.right {
	background-image: none !important;
}

.our-work .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next,
.our-work .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-top: 0px;
}
/* our-work end */



/* how */
.how-news {
	-webkit-box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 3px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 7px;
}

/* how end */

/* News bl */

.news-header {
	background: url("../images/news-bl-bg.jpg")no-repeat center #384550;
}

.news-bl {
	background-color: #fff;
	width: 100%;
	height: auto;
	min-height: 900px;
	padding: 40px 0 20px 0;
}
.news-bl .news-in h3 {
	margin-top: 0px !important;
}
.news-bl .news-in {
	margin-bottom: 40px !important;
}
.news-bl .promo_date {
	margin-top: 30px;
	background-color: #fff;
	text-align: center;
	font-size: 24px;
	color: #2c3341;
	padding: 20px;
	border: 2px solid #2c3341;
}

/* News bl end */


/* type */
.type {
	width: 100%;
	height: auto;
	min-height: 920px;
	padding-bottom: 40px;
}

/* type end*/

/* Horizontal */
.h2-bg {
	width: 100%;
	background: url("../images/header/horiz-bg.jpg")no-repeat center;
	background-size: cover;
}

.h-type {
	width: 100%;
	height: auto;
	min-height: 400px;
	padding-bottom: 30px;
}

/* Horizontal end */


/* type in */
.type-in {
	width: 838px;
	height: auto;
	min-height: 100px;
	border: 0px solid #000;
	margin: 30px auto 0;
}

.type-in-bl {
	width: 838px;
	height: 150px;
	border: 2px solid #2c3341;
	margin-bottom: 30px;
	overflow: hidden;
}
.type-in-bl:hover .btn-in{
	display: block;
}
.type-in-bl:hover {
	cursor: pointer;
	border: 2px solid #23d5d4;
}
.type-in-bl .type-in-img {
	float: left;
	width: 210px;
	height: 148px;
	border: 0px solid #000;
	overflow: hidden;
}
.type-in-img img{
	width: 210px !important;
}
.type-in-bl .btn-in {
	position: absolute;
	display: none;
	background-color: #23d5d4;
	color: #fff;
	text-transform: uppercase;
	border: none !important;
	border-radius: 0 !important;
	padding: 5px 20px;
	margin: 60px 0 0 35px ;
}
.type-in-bl .btn-in:hover {
	text-decoration: underline;
}
.type-in-bl .title {
	font-size: 18px;
	color: #2c3341;
	font-weight: 400;
	padding: 10px 0 0 30px !important;
	float: left;
}
.type-in-bl .txt {
	float: left;
	font-size: 14px;
	color: #2c3341;
	font-weight: 300;
	padding: 0px 0 0 30px;
	text-align: justify;
	width: 580px;
	height: 80px;
	overflow: hidden;
}


.type-a-left tr td{
	text-align: left !important;
	font-size: 14px !important;
}
/* type in */


/* Order Bl */
.order-bl {
	width: 100%;
	min-height: 600px;
	height: auto;
	padding-bottom: 40px;
	margin-top: 200px;
}
.order-gallery {
	width: 420px;
	min-height: 400px;
	border: 0px solid #000;
}
.prod-price {
	position: absolute;
	background-color: #23d5d4;
	color: #fff;
	width: 150px;
	z-index: 8889;
	margin: 5px 0 0 278px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}

.sub-price {
	position: absolute;
	background-color: #2c3341;
	color: #fff;
	width: 150px;
	z-index: 8889;
	margin: 5px 0 0 690px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	border-right: 4px solid #2c3341;
}

.order-txt-bl {
width: 500px;
min-height: 380px;
border: 0px solid #000;
margin: 0 0 0 30px;
padding-bottom: 20px;
}
.order-txt-bl h3 {
margin-top: 0;
}
.order-txt-bl .order-short-txt {
font-size: 14px;
text-align: justify;
padding: 0 0 0 20px;
margin: 20px 0 0 0;
width: 100%;
height: 140px;
border: 0px solid #000;
overflow: hidden;
}
.order-form {
margin: 30px auto 0;
}
.order-form #name{
text-align: left;
margin: 35px auto 0;
}
.order-form #phone{
text-align: left;
margin: 10px auto 0;
}
.order-form .btn-mainf {
margin: 20px 0 0 75px;
float: none;
font-size: 18px;
}
.order-main-txt {
min-height: 300px;
height: auto;
padding-bottom: 30px;
border: 0px solid #000;
margin: 20px 0 0 0 !important;
width: 970px;
overflow: hidden;

}
.order-main-txt .title {
font-size: 20px;
color: #000;
}
.order-main-txt .description {
font-size: 14px;
color: #000;
text-align: justify;
}
.order-main-txt ul li {
font-size: 14px;
color: #000;
text-align: left;
}
.order-main-txt .products-colors {
margin: 0 0 0 -25px;
}
.order-bl-in {
background-color: #fff;
border: 1px solid #ccc;
padding: 20px 20px 60px 20px;
margin-top: 30px;
min-height: 400px;
height: auto;
}

.order-bl-in .nav-tabs {
border-bottom: none !important;
}
.order-bl-in .nav-tabs > li > a {
border-radius: 0 !important;
color: #23d5d4 !important;
}
.order-bl-in .nav-tabs > .active a{
color: #000 !important;
}


.products-colors .type-name {
position: absolute;
font-size: 13px;
color: #000;
margin: 170px 0 0 0px;
text-align: center;
}
/*
.type-bl img , .colors-bl img{
width: 148px;
height: 164px;
}
*/
.products-type .type-name {
	margin: 5px 0 0 0 !important;
}
.params-bl, .colors-bl, .type-bl {
	margin-top: 50px;
}
.colors-bl .table th, .colors-bl .table td,
.type-bl .table th, .type-bl .table td {
	border-top: none !important;
	border-left: none !important;
	font-size: 13px;
	text-align: center;
}
.colors-bl .fixed-table-container {
	border:0px;
}
.colors-bl .table th {
	border-bottom: none !important;
}
.colors-bl .table:last-child{
	border:none !important;
}
.b_txt td {
	/*
	color: red !important;
	vertical-align: top !important;
	*/
}
.colors-bl img {
	background-color: #fafafa;
	border: 0px solid #ccc;
	width: 148px;
	height: 164px;

	-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.5);

	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #FFFFFF),
			color-stop(1, #E3E3E3)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 100%);

}
.type-bl img {
	background-color: #fafafa;
	border: 0px solid #ccc;
	width: 148px;
	height: 164px;

	-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.5);

	background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #FFFFFF),
			color-stop(1, #E3E3E3)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 100%);
}
.colors-bl img:hover, .type-bl img:hover {
	cursor: pointer;
	/*
	border: 1px solid #ccc;
	border-radius: 3px
	 transition: 0.5s;
	border-radius: 3px;
	padding: 1px; */
}
.bg-none {
	background-color: #fff !important;
	background-image: none !important;
	box-shadow: none !important;
	border: 0px !important;
	border-image: none
}
.colors-bl .bg-none img, .type-bl .bg-none img{
	background-color: #fff !important;
	background-image: none !important;
	box-shadow: none !important;
	border: 0px !important;
	border-image: none
}
.type-bl .thumbnail, .colors-bl .thumbnail {
	border-radius: 0 !important;
	border : 1px solid #fff;
	padding: 4px 2px 6px 0;
}
.type-bl .thumbnail:hover, .colors-bl .thumbnail:hover {
	border-color: #ccc;
}
.type-bl a, .colors-bl a {
	color: #2c3341;
}
/* Order Bl end */


.order-bl-in2 {
	border: none !important;
	margin-top: -50px !important;
}
.order-bl-in2 .nav-tabs > li > a {
	color: red;
}

.type-bg {
	background-color: #f8ffff !important;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;1+0,0+100;White+to+Transparent */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.type-bg:hover {
	/* background-color: #f1ffff !important; */
}


#modal {
	z-index: 9999 !important;
	overflow: hidden;

}
#modal hr {
	width: 100px;
}
._modal-content {
	max-height: none;
	border: 2px solid #fff !important;
	background-color: #122b40;
	width: 400px;
	height: 300px;
	margin: 20px auto 0;
}
._modal-content h4 {
	margin-top: 20px;
}
._semantic-content ._modal-inner {
	width: 400px;
    margin: 100px 0 0 -200px;

	top: 50px;
	left: 50%;
	z-index: 20;
	overflow-x: hidden;
	border-radius: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
}

._semantic-content ._modal-close {
	margin: 0 0 0 -100px !important;
}

._modal-content #name{
	text-align: left;
	margin: 35px auto 0;
	width: 250px;
	border-radius: 0 !important;
}
._modal-content #phone{
	text-align: left;
	margin: 10px auto 0;
	width: 250px;
	border-radius: 0 !important;
}
._modal-content .btn-mainf {
	margin: 20px 0 0 59px;
	float: none;
	font-size: 18px;
	width: 250px;
}

._semantic-content ._modal-close:after {
	content: '\00d7';
	position: absolute;
	top: 25px;
	left: 50%;
	z-index: 20;
	margin: 110px 0 0 200px;
	background: transparent;
	border-radius: 2px;
	padding: 2px 8px;
	font-size: 1.8em;
	text-decoration: none;
	text-indent: 0;
	color : #fff;
}

.send-bl {
	width: 100%;
	background: url("/images/send.jpg")no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: auto;
	min-height: 600px;
	padding-top: 100px;
	border-bottom: 5px solid #ccc;
}
.msg {
	border: 2px solid #1F2531;
	background-color: #fafafa;
	width: 450px;
	height: 200px;
	padding: 20px 0 0 0;
	margin: 120px auto;
}

/* for tab content in admin panel */
.admin-products .tab-pane {
	padding-top : 40px;
}

.adm_foo{
	width: 100%;
	height: 80px;
	background-color: #222222;
	color: #fff;
	padding-top: 25px;
	margin-top: 300px;
}
.adm_foo a{
	color: #fff !important;
}