<br>
<br>
<br>

<div class="form-group">
    <label>Изображение товара</label>
    <img src="<?=$data['img_prod']['img']?>"  width="450" height="450" class="img-responsive" alt="Responsive image">
</div>
<p><a href="/admin/products/edit/<?=$data['products_id']?>"><button class="btn btn-sm btn-primary" style="padding: 5px 20px;">Вернуться назад</button></a></p>
<br>
<p><strong>Выберите файл для обновления изображения</strong></p>
<br>
<form action="" method="post" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="<?=$data['img_prod']['id']?>" >
    <input type="hidden" name="id_prod" value="<?=$data['products_id']?>" >

    <input type="file" name="files"  ><br>
    <input type="submit" name="img_prod_upd" value="Обновить изображение" class="btn btn-success" >
</form>
<br>
<br>